body{
    font-family: "Inter";
    font-style: normal;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
}
.bodys{
    background-image: url("../static/IMG/background.png");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.aboutProject{
    background-color: #fff;
}
/* шапка сайта */
.site-navigation{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 160px;
    align-items: center;
}
.site-navigation-item a{
    display: block;
    color:#fff;
    text-decoration: none;
    margin-right: 90px;
    margin-top: 18px;
    margin-bottom: 6.75px;
}
.site-navigation-item{
    font-size: 24px;
    font-weight: 700;
}
.nav-gigaShad{
    font-size: 36px;
    font-weight: 400;
}

/* контент страницы */
/* Промо */
.main-promo{
    padding-bottom: 165px;
}
.learningWithGigaShad{
    display:inline table;
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 700;
    margin-right: 683px;
    margin-top: 116px;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: #000;
}
.promoTable{
    display: inline table;
    margin-left: 960px;
    margin-top: 85px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 60px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 16px;
    background-color: black;
    border-radius: 30px;
}
.promoTable p{
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
}
.promoTable a{
    color: #000;
    text-decoration: none;
    background-color: #fff;
    padding: 11px 53px;
}

/* О проекте */
.aboutProject{
    border-top: 57px solid #000;
}
.aboutProject-text{
    margin-top: 50px;
}
.criterion{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 216px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.criterion-item img{
    margin-bottom: 20px;
}
.criterion-item p{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 80px;
}
.aboutProject a{
    display: inline table;
    color: #fff;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #000;
    width: 224px;
    padding: 11px 0px;
    margin-bottom: 80px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 700;
}













.h1{
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 40px;
    font-weight: 700;
}



/* Стили для файла request */
.body-request{
    background-color: #E3E2E2;

}
.form-title{
    display: inline-block;
    margin: 0;
    padding: 0;
    padding: 20px 0px;
    margin-top: 90px;
    border-radius: 20px;
    background-color: #262626;
    font-size: 20px;
    font-weight: 400;
    width: 736px;
}
.form-text-generation{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
textarea{
    width: 736px;
    height: 193px;
    border-style: none;
    background-color: #6F6F6F;
    color: #fff;
    resize: none;
}
input[name="text-number-of-questions"]{
    border-style: none;
    width: 256px;
    height: 49px;
    background-color: #000;
    margin-right: 320px;
    color:#fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}
::placeholder{
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}
.container-doc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    margin-top: 40px;
    min-width: 736px;
}
input[name="file"]{
    width: 160px;
    height: 50px;
    position: absolute;
    overflow: hidden;
    opacity: 0;
}
.input-file label{
    display: inline-block;
    width: 160px;
    height: 50px;
    background-color: #2F16CC;
    border-radius: 20px;
}
.input-file span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
}



.text-questions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    margin-top: 40px;
    min-width: 736px;
}

input[name="text-questions"]{
    width: 500px;
    height: 49px;
    background-color: #000;
    color:#fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    border-style: none;
    margin-right: 76px;
}
input[name="send"]{
    width:160px;
    height:50px;
    border-radius:20px;
    background:#2AD91B;
    border-style: none;
    color:#fff;
    font-size:18px;
    cursor:pointer;
        
}