<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title> GigaShad</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:ital@0;1&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  </head>
  <body class="bodys">
    <header class="page-header">
        <nav class="main-nav">
            <ul class="site-navigation">
                <li class="site-navigation-item">    
                    <a href="/" class="nav-gigaShad"> GigaShad </a>
                </li>
                <li class="site-navigation-item">    
                    <a href="#aboutProject-text" class="nav-about-project"> О проекте</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main-promo">
            <span class="commonGigaShad">
                <h1 class="learningWithGigaShad"> Обучение с GigaShad - это легко ! </h1>
            </span>
            <span class="promoTable">
                <p class="fullText"> 
                    Наш сервис поможет Вам в<br> обучении. GigaShad преобразует<br> Ваш текст, учебный материал в<br> тесты для успешной подготовки<br>
                </p>
                <a class="btn-promo" href='/request' class="button"> Поехали ! </a>
            </span>
        </section>

        <section class="aboutProject">
            <h2 class="aboutProject-text" id="aboutProject-text">О проекте</h2>
            <ul class="criterion">
                <li class="criterion-item">
                    <img src="../static/img/questions.png" width="360px" height="360px" alt="Мужчина, который думает как себя проверить">
                    <p class="criterion-item-text"> 
                        Будучи студентами, нередко возникает<br> 
                        необходимость подкрепления усвоенных<br> 
                        знаний. Именно с этим и поможет наш<br> 
                        сервис!
                    </p>
                </li>
                <li class="criterion-item">
                    <img src="../static/img/tasks.png" width="360px" height="360px" alt="Блокнот с отмеченными ответами">
                    <p class="criterion-item-text"> 
                        GigaShad - автоматизированное создание<br>
                        тестов,  основанных на текстах с<br>
                        естественным языком.<br>
                        С помощью нейросети gigaChat и методов<br>
                        NLP,тексты преобразовываются в тесты 
                    </p>
                </li>
            </ul>
            <a href='/request'> Поехали ! </a>
        </section>
    </main>
    <footer class="main-footer">
    </footer>
  </body>
</html>
