<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title> UDV LLM</title>
    <link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:ital@0;1&family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body class="body-request">
    <header class="page-header">
      <nav class="main-nav">
          <ul class="site-navigation">
              <li class="site-navigation-item">    
                  <a href="/" class="nav-gigaShad"> UDV LLM </a>
              </li>
          </ul>
      </nav>
  </header>
    <main>
        <section class="form_question">
          <form action="/process_answer_questions" method="post" enctype="multipart/form-data">
            <p class="form-title"> Введите текст или добавьте файл с Вашего устройства </p>
            <div class="form-text">
              <textarea name="text_for_search_answers" placeholder="Текст для генерации"></textarea>
            </div>
            <div class="form-text_question">
              <textarea name="asked_questions_text" placeholder="Пишите каждый вопрос с новой строки"></textarea>
            </div>
            <div class="input_file_question">
              <div class="input-file">
                <input type="file" name="file" accept=".docx, .doc, .pdf, .txt, .zip">
                <label for="file"><span> Выберите файл </span> </label>
              </div>
              <input type="submit" name="send" value="Получить ответ">
            </div>
          </form>
        </section>
        <div id="answer_output"></div> <!-- Див для вывода ответов на вопросы-->
        <script src="static/scripts/questions_output.js" type="text/javascript" charset="utf-8"></script>
    </main>
    <footer class="main-footer">
    </footer>
  </body>
</html>
